.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  position: relative;
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.content-wrapper.next-page {
  transform: translateX(-100%);
  animation: slideInFromRight 0.5s forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.question-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 80%;
}
.hint-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 90%;
}
.options-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 90%;
}

.options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option-button {
  display: inline-block;
  margin: 5px auto; /* Updated to center horizontally */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #121212, #303030);
  cursor: pointer;
  transition: background 0.3s ease;
  color: #ffffff;
}

.option-button:hover {
  background: linear-gradient(to bottom, #f2f2f2, #d0d0d0);
}

.option-button.selected {
  background: linear-gradient(to bottom, #64b5f6, #2196f3);
  color: #ffffff;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.next-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #2196f3, #1976d2);
  color: #ffffff;
  cursor: pointer;
  transition: background  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s ease;
 0.3s ease;
}

.next-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.next-button:hover {
  background: linear-gradient(to bottom, #1976d2, #1565c0);
}

.next-button:focus {
  outline: none;
}

.next-button:active {
  transform: translateY(1px);
}
.modal-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #0056b3;
}
.modal-button:focus {
  outline: none;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.result h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-score {
  font-size: 18px;
  margin-bottom: 20px;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #ff1f5a;
}
